*{
    box-sizing: border-box;
}

div{
  min-height: 100px;
  min-width: 100px;
  border: 1px solid black;
  margin: 5px;
}


.huber{
  background-color: red;
}

.meier{
  background-color: blue;
}

#lisa{
  background-color: yellow;
}
#luis{
  background-color: green;
}

#georg,#susi{
  background-color: pink;
}
#brigitte{
  background-color: gray;
}

.meier #brigitte{
  background-color: orange;
}

.meier div#brigitte{
  background-color: lightblue;
}
